<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">

<h2>Login</h2>

<form id="loginForm">
    <input class="form-control mb-2" id="username" placeholder="Username" required>
    <input class="form-control mb-2" id="password" type="password" placeholder="Password" required>
    <button class="btn btn-primary">Login</button>
</form>
<script>
document.getElementById("loginForm").addEventListener("submit", async (e) => {

    e.preventDefault()

    const res = await fetch("/api/login", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
            username: username.value,
            password: password.value
        })
    })

    const data = await res.json()

    if (res.ok) {
        localStorage.setItem("user", data.username)
        window.location.href = "/views/chat.html"
    } else {
        alert(data.error)
    }

})
</script>